@media (max-width: 600px) {
  .input-field {
    width: 100%;
  }

  .random-container {
    width: 100%;
  }

  .right-main-container img {
    width: 100%;
  }
}

@media (max-width: 925px) and (orientation: landscape) {
  .right-main-container img {
    width: 22%;
  }

  .cocktail-header-box h1 {
    padding: 0;
    margin: 0;
  }
}
