@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
  outline: 1px red solid;
} */

:root {
  --dark-gray: #333;
  --primary-color: rgb(245, 124, 0);
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.drag-target {
  height: 90vh;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  text-wrap: balance;
}

#glass-icon {
  font-size: 1.7rem;
  color: var(--dark-gray);
}

img {
  display: block;
  max-width: 100%;
}

nav {
  box-shadow: 0 2px 2px 0 rgba(245, 123, 0, 0.808),
    0 3px 1px -2px rgba(245, 123, 0, 0.829), 0 1px 5px 0 rgba(245, 123, 0, 0.87);
  background-color: #fff;
}

nav ul a:hover {
  background-color: rgba(245, 123, 0, 0.1);
}

nav .brand-logo {
  color: var(--dark-gray);
  font-size: 1.65rem;
}

nav ul a {
  color: var(--dark-gray);
}

.row {
  margin-bottom: 0;
}

.hamburger {
  color: var(--dark-gray);
}

.btn {
  background-color: var(--primary-color);
  margin-top: 2rem;
}

.btn:hover {
  background-color: hsl(30, 100%, 70%);
}

.btn:focus {
  background-color: var(--primary-color);
}

.input-field {
  width: 50%;
}

#cocktail:active,
#cocktail:focus {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}

.left-main,
.right-main {
  height: 95vh;
}

.left-main {
  background: no-repeat url('/img/left-main-image.jpg');
  background-size: contain;
  background-position: 15% 85%;
  background-attachment: fixed;
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cocktail-header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-main-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.right-main-container img {
  /* max-width: 60%; */
  width: 50%;
  margin: 0 auto;
}
.search-buttons {
  text-align: center;
}

.btn-small {
  margin-bottom: 0.8rem;
}

.overlay {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

section.popular-drinks,
section.latest-drinks,
section.search-drinks {
  padding: 4rem 0;
}

.popular-drinks hr,
.latest-drinks hr,
.search-drinks hr {
  width: 14rem;
  border: 1px solid var(--primary-color);
}

.popular-drinks .container,
.latest-drinks .container,
.search-drinks .container {
  margin-top: 6rem;
}

form {
  margin: 0 auto;
}

/* --------------------
    Random Drink Page
--------------------- */
.random-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 6rem;
}

.random-container img {
  width: 100%;
}

.random-header {
  font-size: 3.5rem;
  width: 100%;
}

.random-image {
  width: 40%;
}

.random-container h3 {
  padding-bottom: 1rem;
  border-bottom: 3px var(--primary-color) double;
}

.ingredients ul {
  padding-left: 1.2rem;
}

.ingredients .ingredient-list li {
  list-style: circle;
}

.instructions {
  padding-inline-start: 1rem;
}

.instructions li {
  padding: 0.4rem 0;
}

/* --------------------
    Footer
--------------------- */
.page-footer {
  background-color: var(--primary-color);
}
