@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
  outline: 1px red solid;
} */

:root {
  --dark-gray: #333;
  --primary-color: rgb(245, 124, 0);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 00;
}

.drag-target {
  height: 95vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  width: 60%;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

#glass-icon {
  font-size: 1.7rem;
  color: var(--dark-gray);
}
nav .nav-wrapper {
  height: 5vh;
}

div.navbar-fixed {
  height: 5vh;
}

nav {
  box-shadow: 0 2px 2px 0 rgba(245, 123, 0, 0.808),
    0 3px 1px -2px rgba(245, 123, 0, 0.829), 0 1px 5px 0 rgba(245, 123, 0, 0.87);
  background-color: #fff;
  height: 5vh;
}

nav ul a:hover {
  background-color: rgba(245, 123, 0, 0.1);
}

nav .brand-logo {
  color: var(--dark-gray);
  font-size: 1.65rem;
}

nav ul a {
  color: var(--dark-gray);
}

.row {
  margin-bottom: 0;
}

.hamburger {
  color: var(--dark-gray);
}

.btn {
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: hsl(30, 100%, 70%);
}

.input-field {
  width: 50%;
}

#drink:active,
#drink:focus {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}

.left-main,
.right-main {
  height: 95vh;
}

.left-main {
  background: no-repeat url('/img/left-main-image.jpg');
  background-size: contain;
  background-position: 15% 85%;
  background-attachment: fixed;
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-main {
  position: relative;
}

.right-main h1 {
  width: 40%;
}

.right-main img {
  width: 45%;
  height: auto;
}

.cocktail-header-box {
  position: absolute;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-buttons {
  text-align: center;
}

.overlay {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
